:root {
    --primary-color: #262d2d;
    --primary: #403e3f;
    --secondary-color:#EAEAE6;
    --third-color: #7F7C79;
    --fth-color: #dfac95;
    --fif-color: #d8b29d;
}

#jobs > .row > .col {
    padding: 0;
}
#jobs > div > div> div> img{
    width: 100%;
}


#macy-container::before { content: ""; display: table; clear: both;}
#macy-container { margin-top: 22px; margin-bottom: 15vh; }
#macy-container::after { content: ""; display: table; clear: both;}

.demo {
  margin-bottom: 24px;
 
  overflow: hidden;
  
}


.demo-image {
  width: 100%;
  display: block;
  height: auto;
}
