:root {
    --primary-color: #262d2d;
    --primary: #403e3f;
    --secondary-color:#EAEAE6;
    --third-color: #7F7C79;
    --fth-color: #dfac95;
    --fif-color: #d8b29d;
}
#team {
   text-align: center;
   align-items: center;
   background-color: var(--secondary-color);
   color: var(--primary-color)
}

#team .col {
    padding: 0;
}

.card {
    box-shadow: unset;
    background-color: var(--secondary-color)!important;
}
.card-reveal {
    background-color: var(--secondary-color)!important;
}
.card span {
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-size: .9rem!important;
}
#team img{
    height: 40vh;
}





